@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
  padding: 0px;
  margin: 0px;
  font-family: Roboto;
  font-weight: 400;
}
button{
    width: 50%;
    height: 40px;
    background-color: #ffca4f;
    border: none;
    color: white;
    font-weight: 700;
}

h1{
    font-size: 20px;
    margin: 5px;
}