@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
  padding: 0px;
  margin: 0px;
  font-family: Roboto;
  font-weight: 400;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 50px;
  width: 100%;
  background-color: #ffca4f;
}
header > h1{
  font-weight: 700;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;  
  color:#333;
}

.select{
  margin: 10px;
  background-color: #f5f5f5;
  padding: 10px;
  border-left: 4px solid #ffca4f;
  width: 50%;

}

.select > h1{
  font-size: 24px;
  margin: 5px;
}

select{
  border: none;
  border-bottom: 1px solid #333;
  background-color: transparent;
}

.infos{
  margin: 10px;
  background-color: #f5f5f5;
  padding: 10px;
  border-left: 4px solid #ffca4f;
  width: 50%;
}

.infos > button{
  background-color: violet;
}